<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{ site.baseurl }}">Inicio</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ site.baseurl}}acerca-de/">Sobre el club</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ site.baseurl }}noticias/">Noticias</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ site.baseurl }}recursos/">Recursos</a></li>
    <!-- <li class="nav-about" role="menuitem"><a href="{{ site.baseurl }}author/eleazar">About</a></li> -->
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{ site.baseurl }}tag/projects/">Work</a></li> -->
    <!-- <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li> -->
</ul>
