a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

dfn,
em,
i {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

mark {
  background-color: #fdffb6;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input:focus {
  outline: none;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  overflow-x: hidden;
}

body {
  color: #3c484e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

::-moz-selection {
  text-shadow: none;
  background: #cbeafb;
}

::selection {
  text-shadow: none;
  background: #cbeafb;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

blockquote,
dl,
ol,
p,
ul {
  margin: 0 0 1.5em;
}

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: .5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin: .5em 0;
  padding-left: .3em;
  line-height: 1.6em;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: #15171a;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px;
  text-align: left;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em;
  border-left: .5em solid #e5eff5;
}

blockquote p {
  margin: .8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: .8em 0 .8em 1.5em;
  font-size: .9em;
  opacity: .8;
}

blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: 700;
}

blockquote cite a {
  font-weight: 400;
}

a {
  color: #26a8ed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 .5em;
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width:500px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  margin: 1.5em 0 .5em;
  font-size: 2rem;
}

@media (max-width:500px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  margin: 1.5em 0 .5em;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width:500px) {
  h3 {
    font-size: 1.7rem;
  }
}

h4 {
  margin: 1.5em 0 .5em;
  font-size: 1.6rem;
  font-weight: 500;
}

h5,
h6 {
  margin: 1.5em 0 .5em;
  font-size: 1.4rem;
  font-weight: 500;
}

.highlight .hll,
.highlight pre {
  background: #0e0f11;
}

.highlight .c {
  color: #75715e;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #66d9ef;
}

.highlight .l {
  color: #ae81ff;
}

.highlight .n {
  color: #f8f8f2;
}

.highlight .o {
  color: #f92672;
}

.highlight .p {
  color: #f8f8f2;
}

.highlight .c1,
.highlight .cm,
.highlight .cp,
.highlight .cs {
  color: #75715e;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .kc,
.highlight .kd {
  color: #66d9ef;
}

.highlight .kn {
  color: #f92672;
}

.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: #66d9ef;
}

.highlight .ld {
  color: #e6db74;
}

.highlight .m {
  color: #ae81ff;
}

.highlight .s {
  color: #e6db74;
}

.highlight .na {
  color: #a6e22e;
}

.highlight .nb {
  color: #f8f8f2;
}

.highlight .nc {
  color: #a6e22e;
}

.highlight .no {
  color: #66d9ef;
}

.highlight .nd {
  color: #a6e22e;
}

.highlight .ni {
  color: #f8f8f2;
}

.highlight .ne,
.highlight .nf {
  color: #a6e22e;
}

.highlight .nl,
.highlight .nn {
  color: #f8f8f2;
}

.highlight .nx {
  color: #a6e22e;
}

.highlight .py {
  color: #f8f8f2;
}

.highlight .nt {
  color: #f92672;
}

.highlight .nv {
  color: #f8f8f2;
}

.highlight .ow {
  color: #f92672;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #ae81ff;
}

.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd {
  color: #e6db74;
}

.highlight .se {
  color: #ae81ff;
}

.highlight .s1,
.highlight .sh,
.highlight .si,
.highlight .sr,
.highlight .ss,
.highlight .sx {
  color: #e6db74;
}

.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #f8f8f2;
}

.highlight .il {
  color: #ae81ff;
}

.highlight .gu {
  color: #75715e;
}

.highlight .gd {
  color: #f92672;
}

.highlight .gi {
  color: #a6e22e;
}

/*# sourceMappingURL=syntax.css.map */
